--extra-index-url https://download.pytorch.org/whl/cu118
omegaconf
torch
tqdm
einops
vector_quantize_pytorch
transformers
vocos
IPython
# pynini==2.1.5
Cython
nemo_text_processing
pynini
shortuuid
gradio
cn2an
WeTextProcessing